{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEOYOUNG Blog</title>
    <link rel="stylesheet" href="{% static 'css/update.css' %}" />
  </head>
  <body>
    <div class="header">
      <a href="{% url 'index' %}"> 내블로그 이웃블로그</a>
      <div class="create">
        <a href="{% url 'create' %}">글쓰기</a>
      </div>
    </div>
    <div class="post">
      <form method="POST">
        {% csrf_token %} {{update_form.as_p}}
        <button type="submit" value="제출">수정하기</button>
      </form>
    </div>
  </body>
</html>
